body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(139, 138, 138, 0.4) 0px 30px 90px;
    height: 70px;
    transition: all 1s;
}

.welcome:hover {
    box-shadow: rgba(235, 51, 27, 0.4) 0px 30px 90px;
    transition: all 0.5s;
}


