@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	margin: 0;
	padding: 20px;
	background-color: rgb(140, 220, 246);
	width: 100vw;
	height: 100vh;
	display: flex;
}

#circle-container {
	position:relative;
}

.circle {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}

#one:before {
	content: "Hover Me!";
}

#one {
	background-color: rgba(0,0,225, 0.45);
	font-size: 20px;
	font-family: "Oswald", sans-serif;
	letter-spacing: 1.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	transition: 1s;
}

#two {
	background-color: green;
	transition: 1s;
	opacity: 0.5;
}

#three {
	background-color: red;
	transition: 1s;
	opacity: 0.5;
}

#four {
	background-color: orange;
	transition: 1s;
	opacity: 0.5;
}
#five {
	background-color: green;
	transition: 1s;
	opacity: 0.5;
}

#cc {
	position:relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}

#cc:hover #two {
	transform: translate(0px, 75px);
}
#cc:hover #three {
	transform: translate(0px, -75px);
}
#cc:hover #four {
	transform: translate(75px, 0px);
}
#cc:hover #five {
	transform: translate(-75px, 0px);
}

#mb {
	position: absolute;
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.5px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: #3B3A6D;
	color: white;
}

#mb a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 0px;
}

#mb p {
	padding: 5px;
	margin: 0px;
}

/* OPEN */

.open {
	height: 150px;
	width: 150px;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.cube-wrapper {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	position:relative;
}

.cube {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	position:absolute;
	cursor: pointer;
}

.text {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	transition: 1s;
	z-index: 0;
	position:absolute;
	font-size: 30px;
	transition: 6s;
	cursor: pointer;
}

.text:hover {
	transform: scale(1.5, 1.5);

}
#left {
	background-color:#3498db;
	transition: 5s;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

#right {
	background-color:#2ecc71;
	transition: 4s;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

#up {
	background-color:#e67e22;
	transition: 3s;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

#bottom {
	background-color:#34495e;
	transition: 2s;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.cube-wrapper:hover #left {
	transform: translate(0px, 160px);
}
.cube-wrapper:hover #right {
	transform: translate(0px, -160px);
}
.cube-wrapper:hover #up{
	transform: translate(160px, 0px);
}
.cube-wrapper:hover #bottom {
	transform: translate(-160px, 0px);
}